html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: 30px;
}
body{
    background-color: rgb(162, 163, 177);

}
header{
    
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}