body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

#area-cabecalho {
    background-color: #275006;
    padding: 30px;
    text-align: center;
    color: white;
}

#area-menu {
    margin-top: 15px;
}

#area-cabecalho a {
    color: white;
    padding: 10px 20px;
    background-color: #3d803b;
    border-radius: 5px;
    margin: 0 5px;
    transition: 0.3s;
}

#area-cabecalho a:hover {
    background-color: #4caf50;
    color: white;
}

/* Tabelas */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #275006;
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

a[href*="editar"] {
    color: #2196f3;
}

a[href*="deletar"] {
    color: #e53935;
}
